__pycache__
/Local-MusicStore-Environment/.env
/Local-MusicStore-Environment/local/root/.artifactory_credentials
/Local-MusicStore-Environment/local/root/.ash_history
/Local-MusicStore-Environment/local/root/.gradle/*